PUBLIC_DIRECTUS_URL=http://localhost:8055
PUBLIC_SITE_URL=http://localhost:3000
DIRECTUS_SERVER_TOKEN=token_from_Webmaster_account
DIRECTUS_ADMIN_TOKEN=token_from_Admin_account # Only for local type generation, never used at runtime
# Set to false to disable (enabled by default)
# PUBLIC_ENABLE_VISUAL_EDITING=false